*{
    font-family:'Roboto';
}


/* ---header styling---*/


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 20px;
    
}

ul a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

header{
    display: flex;
    background-color: #1f2937;
    justify-content: space-around;
    align-items: center;
}

.headerlogotext{
    font-size: 24px;
    color: #f9faf8;
    
}

/* ---hero styling---*/

.hero{
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}


.hero1{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.hero2{
    color: #e5e7eb;
    font-size: 18px;
}

.heroimage img{
    width: 500px;
    height: auto;
}

button{
    /*margin: 16px;*/
    color: #e5e7eb;
    background-color: #3882f6;
    font-size: 18px;
    border-radius: 8px;
    padding: 8px;
    width: 120px;
}
