*{
    font-family:'Courier New', Courier, monospace;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 20px;
    
}

ul a {
    text-decoration: none;
    color: #f9faf8;
}

header{
    display: flex;
    background-color: #1f2937;
    justify-content: space-around;
    align-items: center;
}

.headerlogotext{
    font-size: 24px;
    color: #f9faf8;
    
}